*{
    margin: 0;
    padding: 0;
}

/*General Styling*/
:root{
    --main: #20232a;
}

.display-block-on-desktop{
    display: block;
}
.full-width{
    width: 100%;
}
.margined-top{
    margin-top: 10px;
}
.center{
    margin: auto;
}.center-text{
    text-align: center;
}

.row{
    margin: 0;
    padding-right: 0;
}
div.col-md-3{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
/* Sidebar Styles */
.desktop-sidebar{
    width: 100%;
    height: 100vh;
    padding: 20px;
    background: var(--main);
}
nav{
    width: 100%;
}

.desktop-sidebar-container{
    position: fixed;
}
.desktop-sidebar .card{
    background: rgba(255, 255, 255, .1);
    color: white;
}.desktop-sidebar .card a{
    color: grey;
}.desktop-sidebar .card a:hover{
    color: white;
}
.desktop-nav a{
    color: white;
}.desktop-nav a:hover{
    color: #ccc;
}
.desktop-nav a .material-icons{
    padding: 12.5px 10px;
    vertical-align: sub;
}


/* Dashboard Header */
.dashboard .row, .dashboard .col-sm-12, .dashboard .col-sm-3, .dashboard .col-sm-5, .dashboard .col-sm-7{
    margin: 0;
    padding: 0;
}
.dashboard-header .title{
    padding: .5rem 0;
}

/* Profile */
.user-info{
    list-style: none;
}


/* Github Repos */
.github-repos .github-user-repos .info-content{
    color: #0f0f0f;
}